<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NewAgeApp.Properties.Settings.NADBConnectionString"
            connectionString="Data Source=tcp:84.54.228.191,49172;Initial Catalog=NewAgeDB;Persist Security Info=True;User ID=sa;Password=131120"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>